<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="navigation">
      <div class="navBar">
        <a href="#" class="home">Home</a>
        <a href="#" class="link">Link 1</a>
        <a href="#" class="link">Link 2</a>
        <a href="#" class="link">Link 3</a>

        <div id="date" class="time"></div>
      </div>
    </div>

    <main>
      <h1 class="start">START PAGE</h1>
      <div class="template">Template by w3.css</div>
      <div class="btn">Get Started</div>
    </main>

    <div class="content-1">
      <div class="lorem">
        <h1>Lorem Ipsum</h1>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="img1">
        <img src="./img/img.png" alt="" class="yakor" />
      </div>
    </div>

    <!-- ////////////////////////////////// -->

    <div class="second-content">
      <div class="content-1">
        <div class="img2">
          <img src="./img/img2.png" alt="" class="coffeCup" />
        </div>
        <div class="lorem">
          <h1>Lorem Ipsum</h1>
          <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="bottom">
      <h1 class="bottom-h1">Quote of the day: live life</h1>
    </div>

    <footer>
      <div class="icons">
        <img src="./icons/fcb.png" alt="" href="https://" />
        <img src="./icons/instagram.png" alt="" />
        <img src="./icons/snap.png" alt="" />
        <img src="./icons/pint.png" alt="" />
        <img src="./icons/twit.png" alt="" />
        <img src="./icons/in.png" alt="" />
      </div>
      <p>
        Powered by
        <a href="https://www.w3schools.com/css/" target="_blank">w3.css</a>
      </p>
    </footer>

    <div class="point-up">
      <img src="./icons/point-up.png" alt="" />
    </div>
  </body>
  <script src="./scripts/jquery-3.4.1.min.js"></script>
  <script src="./scripts/script.js"></script>
</html>
