* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1AA15F;
}

#game {
  margin: 50px auto;
  height: 240px;
  width: 240px;
  background: #DD5145;
}

.block {
  width: 80px;
  height: 80px;
  float: left;
  border: 1px solid white;
  box-sizing: border-box;
  line-height: 80px;
  text-align: center;
  font-size: 70px;
  color: #FFCD43;
}
